<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <h1 align = "center"><b>Airline Booking Management System</b>
    
    

    </h1>

    <h2  style="text-align:left; color:olive">Member Login</h2>
        
        <form method="POST" action="">    
            <label><b>User Name     
            </b>    
            </label>    
            <input type="text" name="Uname" id="Uname" placeholder="Username">    
            <br><br>    
            <label><b>Password     
            </b>    
            </label>    
            <input type="Password" name="Pass" id="Pass" placeholder="Password">    
            <br><br>    
            <input type="submit" name="button" id="log" value="Log In">       
               
        </form>     
     

    <h2  style="text-align:left; color:darkblue">Staff Login</h2>
    
        <form method="POST" action="">  
            <label><b>User Name     
            </b>    
            </label>    
            <input type="text" name="Uname" id="Uname" placeholder="Username">    
            <br><br>    
            <label><b>Password     
            </b>    
            </label>    
            <input type="Password" name="Pass" id="Pass" placeholder="Password">    
            <br><br>    
            <input type="submit" name="button" id="log" value="Staff Log In">       
              
        </form>     
    
    

    <h2 id = "form">Sign Up</h2>
    <div>
    <p>
        Not already a member? Fill out the form and sign up!
    </p>
    <h3>Form</h3>
    <form method="POST" action="">  
        <div>
        Username <input type = "text" name = "Uname">
        <br>
        <br>
        Password <input type = "password", name = "Pass">
        <br>
        <br>
        Name <input type = "text" name = "Name">
        <br>
        <br>
        Phone <input type = "text" name = "phone"> 
        <br>
        <br>
        <input type="submit" name="button" id="log" value="Sign Up">      
    </form>

    
        
</body>
</html>